h1 #{@brand.name} #{Emoji.flag @brand.country}

h2 Products
= link_to 'Add Product', new_product_path(product: { brand_id: @brand.id })

ul
- @brand.products.each do |product|
  li = link_to product, product

= link_to 'Edit', edit_brand_path(@brand)
'|
= link_to 'Back', brands_path
